In [1]:
import pandas as pd
import os

os.chdir(os.path.dirname(os.getcwd()))

In [2]:
data_path = "data/marketing_AB.csv"
df = pd.read_csv(data_path)

In [13]:
print("Verificação de importação:")
df.head()

Verificação de importação:

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour,converted_dummy
0,0,1069124,ad,False,130,Monday,20,0
1,1,1119715,ad,False,93,Tuesday,22,0
2,2,1144181,ad,False,21,Tuesday,18,0
3,3,1435133,ad,False,355,Tuesday,10,0
4,4,1015700,ad,False,276,Friday,14,0

In [14]:
print("Verificação de valores nulos:")
df.isna().sum()

Verificação de valores nulos:

Unnamed: 0         0
user id            0
test group         0
converted          0
total ads          0
most ads day       0
most ads hour      0
converted_dummy    0
dtype: int64

In [15]:
print("Verificação de estatísticas descritivas para colunas numéricas:")
df.describe()

Verificação de estatísticas descritivas para colunas numéricas:

,Unnamed: 0,user id,total ads,most ads hour,converted_dummy
count,588101.000000,5.881010e+05,588101.000000,588101.000000,588101.000000
mean,294050.000000,1.310692e+06,24.820876,14.469061,0.025239
std,169770.279668,2.022260e+05,43.715181,4.834634,0.156850
min,0.000000,9.000000e+05,1.000000,0.000000,0.000000
25%,147025.000000,1.143190e+06,4.000000,11.000000,0.000000
50%,294050.000000,1.313725e+06,13.000000,14.000000,0.000000
75%,441075.000000,1.484088e+06,27.000000,18.000000,0.000000
max,588100.000000,1.654483e+06,2065.000000,23.000000,1.000000

In [16]:
print("Contagem de usuários únicos:")
df['user id'].nunique()

Contagem de usuários únicos:

588101

In [27]:
print("Distribuição de usuários por grupo de teste:")
for group, count in df['test group'].value_counts().items():
    print(f"Grupo {group}: {count} usuários")

Distribuição de usuários por grupo de teste:
Grupo ad: 564577 usuários
Grupo psa: 23524 usuários

In [25]:
df['converted_dummy'] = df['converted'].astype(int)
print(f"Conversão média geral: {round(df['converted_dummy'].mean()*100, 2)}%")
for group,value in df.groupby('test group')['converted_dummy'].mean().items():
    print(f"Conversão média para o grupo {group}: {round(value*100, 2)}%")

Conversão média geral: 2.52%
Conversão média para o grupo ad: 2.55%
Conversão média para o grupo psa: 1.79%